<nav class="navbar bg-light">
  <div class="container11">
    <a class="navbar-brand" href="#">
      <img class ="nba-logo" src="/images/Logo-NBA.png" alt="NBA-logo" width="30" height="24">
    </a>
  </div>
  <form action="/auth/logout" method="post">
    <button class="logout-btn" type="submit"> Logout</button>
</form>
</nav>



<div class="mainpage">
<h1 class="h1">NBA TEAMS</h1>
{{!-- <img src="/public/images/Logo-NBA.png" alt="nba"> --}}

<div class="allteamsdiv">
{{#each teams}}
<div class="eachteamdiv">
<a href='/team/{{_id}}' class="teamdetails {{_id}}">
<h3>{{name}}</h3>
</a>
<img src="{{imgUrl}}" alt="fgdg" class="teamimg">
<br>


{{!-- <a href='/team/{{_id}}' class="teamdetails {{_id}}">View Team Details</a> --}}
</div>
{{/each}}
</div>
</div>