
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class ="nba-logo" src="/images/NBA-horiz.png" alt="NBA-logo" width="30" height="24">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav2">
        <li class="nav-item">
          <a class="nav-link" href="/profile/{{currentUser._id}}">Profile</a>
        </li>
        <form action="/auth/logout" method="post" class="form-log">
        <a href="/auth/logout">Logout</a>
        </form>
        
     
      </ul>
    </div>
  </div>
</nav>



<div class="mainpage">
<h1 class="h1">NBA TEAMS</h1>
{{!-- <img src="/public/images/Logo-NBA.png" alt="nba"> --}}

<div class="allteamsdiv">
{{#each teams}}
<a href='/team/{{_id}}' class="teamdetails {{_id}}">
<div class="eachteamdiv">
<h3 class="name-team">{{name}}</h3>
<img src="{{imgUrl}}" alt="fgdg" class="teamimg">
<br>


{{!-- <a href='/team/{{_id}}' class="teamdetails {{_id}}">View Team Details</a> --}}
</div>
</a>
{{/each}}
</div>
</div>