<h1>NBA TEAMS</h1>

{{#each teams}}
<h3>{{name}}</h3>
<p>Conference: {{conference}}</p>
<p>Division: {{divison}}</p>
<p>Foundation Year: {{foundationyear}}</p>
<p>Number of Titles: {{titles}}</p>
<p>Arena: {{arena}}</p>
{{/each}}