<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class ="nba-logo" src="/images/Logo-NBA.png" alt="NBA-logo" width="30" height="24">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
  
        <li class="nav-item">
          <a class="nav-link" href="/profile/{{currentUser._id}}">Profile</a>
        </li>
        <form action="/auth/logout" method="post">
    <button class="logout-btn" type="submit"> Logout</button>
</form>
     
      </ul>
    </div>
  </div>
</nav>


<div class="container2">
<h1>{{player.name}}</h1>
<p> <b> Height:</b> {{player.height}} meters</p>
<p> <b>Weight:</b> {{player.weight}} kilograms</p>
<p><b>Jersey Number:</b> {{player.number}}</p>
<p><b>Position:</b> {{player.position}}</p>
<p><b>Most Popular Team:</b> {{player.team}}</p>

<br>
<br>
<br>
<br>
<br>



<iframe width="350" height="220" src="{{player.playerVideo}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<form action="/review/player/{{player._id}}" method="post">
<label for="reviews"></label>
    <textarea name="content" id="reviews" cols="30" rows="10"></textarea>
    <button type="submit">Create Review</button>
</form>
<br>
{{#each player.reviews}}
<div class = "reviews">

    <p>{{content}} <span>By: {{author.username}}</span></p>

    {{#ifEquals author._id ../userId}}

    <form action="/delete-review/{{_id}}" method="post">
<div> 
        <button type="submit">Delete Review</button>
    </form>

    {{/ifEquals}}
</div>
{{/each}}