

<div class="container-">
<h1>{{players.name}}</h1>
<p>Height: {{players.height}}</p>
<p>Weight: {{players.weight}}</p>
<p>Number: {{players.number}}</p>
<p>Position: {{players.position}}</p>
<p>team: {{players.team}}</p>
</div>
<div class="allplayersdiv">
{{#each players}}
<div class="eachplayerdiv">
<img src="{{icon}}" alt="player" class="eachplayerimg1">
<a href="/player/{{_id}}"><h2>{{name}}</h2></a>
</div>
{{/each}}
{{!-- <iframe width="350" height="220" src="{{playerVideo}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}