
<div class="container2">
<h1>{{name}}</h1>
<p>Height: {{height}}</p>
<p>Weight: {{weight}}</p>
<p>Number: {{number}}</p>
<p>Position: {{position}}</p>
<p>Team: {{team}}</p>
</div>
<iframe width="350" height="220" src="{{playerVideo}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{{!-- {{#each players}}
<div class="eachplayerdiv">
<img src="{{icon}}" alt="player" class="eachplayerimg1">
<a href="/player/{{_id}}"><h2>{{name}}</h2></a>
</div>
{{/each}} --}}
{{!-- <iframe width="350" height="220" src="{{playerVideo}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}