<nav class="navbar bg-light">
  <div class="container11">
    <a class="navbar-brand" href="#">
      <a href="/"><img class ="nba-logo" src="/images/Logo-NBA.png" alt="NBA-logo" width="30" height="24"></a>
    </a>
  </div>
  <form action="/auth/logout" method="post">
    <button class="logout-btn" type="submit"> Logout</button>
</form>
</nav>


<div class="container2">
<h1>{{name}}</h1>
<p> <b> Height:</b> {{height}} meters</p>
<p> <b>Weight:</b> {{weight}} kilograms</p>
<p><b>Jersey Number:</b> {{number}}</p>
<p><b>Position:</b> {{position}}</p>
<p><b>Most Popular Team:</b> {{team}}</p>




<iframe width="350" height="220" src="{{playerVideo}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<form action="/review/player/{{_id}}" method="post">
<label for="reviews"></label>
    <textarea name="content" id="reviews" cols="30" rows="10"></textarea>
    <button type="submit">Create Review</button>
</form>
<br>
{{#each reviews}}
    <p>{{content}} <span>By: {{author.username}}</span></p>
    {{#if currentUser}}
    <form action="/delete-review/{{_id}}" method="post">
<div> 
        <button type="submit">Delete Review</button>
    </form>
</div>
{{/if}}
{{/each}}