<nav class="navbar bg-light">
  <div class="container11">
    <a class="navbar-brand" href="#">
      <a href="/"><img class ="nba-logo" src="/images/Logo-NBA.png" alt="NBA-logo" width="30" height="24"></a>
    </a>
  </div>
  <form action="/auth/logout" method="post">
    <button class="logout-btn" type="submit"> Logout</button>
</form>
</nav>



<div class="container">
<h1>{{teams.name}}</h1>
<p>Conference: {{teams.conference}}</p>
<p>Division: {{teams.division}}</p>
<p>Foundation Year: {{teams.foundationyear}}</p>
<p>Number of Titles: {{teams.titles}}</p>
<p>Arena: {{teams.arena}}</p>
</div>
<div class="allplayersdiv">
{{#each players}}


<div class="eachplayerdiv" style="width: 18rem;">
  <img src="{{icon}}" class="eachplayerimg1" alt="player">
  <div class="card-body">
    <a class="players-name" href="/player/{{_id}}"><h2>{{name}}</h2></a>
    <p class="card-text">See more information about <b>{{name}}</b></p>
  </div>
</div>





{{!-- <div class="eachplayerdiv">
<img src="{{icon}}" alt="player" class="eachplayerimg1">
<a class="players-name" href="/player/{{_id}}"><h2>{{name}}</h2></a>
</div> --}}
{{/each}}
</div>
