<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class ="nba-logo" src="/images/NBA-horiz.png" alt="NBA-logo" width="30" height="24">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
  
        <li class="nav-item">
          <a class="nav-link" href="/profile/{{currentUser._id}}">Profile</a>
        </li>
        <form action="/auth/logout" method="post">
        <a href="/auth/logout">Logout</a>
</form>
     
      </ul>
    </div>
  </div>
</nav>



<div class="container">
<h1>{{teams.name}}</h1>
<p> <b> Conference:</b> {{teams.conference}}</p>
<p> <b>Division:</b>  {{teams.division}}</p>
<p><b>Foundation Year:</b> {{teams.foundationyear}}</p>
<p><b>Number of Titles:</b> {{teams.titles}}</p>
<p><b>Arena:</b> {{teams.arena}}</p>
</div>
<div class="allplayersdiv">
{{#each players}}


    <a class="players-name" href="/player/{{_id}}">
<div class="eachplayerdiv" style="width: 18rem;">
  <img src="{{icon}}" class="eachplayerimg1" alt="player">
  <h2>{{name}}</h2>
  <div class="card-body">
    <p class="card-text">More about this player{{!-- <b>{{name}}</b> --}}</p>
  </div>
</a>
</div>




{{!-- <div class="eachplayerdiv">
<img src="{{icon}}" alt="player" class="eachplayerimg1">
<a class="players-name" href="/player/{{_id}}"><h2>{{name}}</h2></a>
</div> --}}
{{/each}}
</div>
