<h1>{{teams.name}}</h1>

<p>Conference: {{teams.conference}}</p>
<p>Division: {{teams.division}}</p>
<p>Foundation Year: {{teams.foundationyear}}</p>
<p>Number of Titles: {{teams.titles}}</p>
<p>Arena: {{teams.arena}}</p>
